{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1 style="color: white;">Contacto</h1>
<h1 style="color: black;">Comunidad Colmenita</h1>
<span style="color: black;" class="subheading">Guía de servicios, productos y emprendimientos de toda la comunidad colmenita.</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">

        <h2 style="color: rebeccapurple;" class="section-heading title">Si quiere publicar un servicio o producto envie un Email a : </h2>  
        <p></p>
        <br>
        <p><h3 style="color: seagreen;">colmenita.pagos@gmail.com</h3></p>

        <p><h2 style="color: rebeccapurple;" class="section-heading title">Asunto: </h2> <h3 style="color: seagreen;">Comunidad Colmenita</h3></p>

        <p><h2 style="color: rebeccapurple;" class="section-heading title">Contenido:: </h2> <h3 style="color: seagreen;">Una imagen adjunta y una descripcion del producto o servicio incluyendo , telefonos, Email, Pagina Web , Instagram , Facebook o cualquier otro medio para que puedan comunicarce</h3></p>
        
    </div>
</div>
{% endblock %}
